/*Texto para feria Artbo Colombia Bogota 2022*/

.imagen__feria {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: auto;
    height: 20rem; 
    border-radius: 5px;
    margin: 0 auto;
}

.texto__cuerpo {
    height: 960px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 22%;
    margin-right: 22%;
}

.texto__info {
    font-size: 16px;
}

.texto__parrafo {
    margin: 1rem 6rem 1rem 6rem;
}

.texto__container {
    padding: 3rem;
    background: #fefefe;
    width: auto;
    margin: 0 auto;
}

.texto__titulo {
    font-size: 30px;
    font-weight: bold;
    text-align: content;

}

.texto__importante {
    font-weight: bold;
}

.texto__horario {
    font-weight: bold;
    font-size: 18px;
}

.pie__pagina {
    background: black;
    position: absolute;
    bottom: 0;
    height: 40px;

}

.imagen__feria__pie__pagina {
    padding-top: 10%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: auto;
    height: 20rem; 
    border-radius: 5px;
    margin: 0 auto;
    justify-content: flex-end
}



@media screen and (max-width:769px) {
    .texto__cuerpo {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .texto__titulo {
        font-size: 20px;
    }
    .texto__parrafo {
        margin: 0.1rem 1.5rem 1rem 1.5rem;
    }
    .texto__container {
        padding: 2rem;
        background: #fefefe;
        width: auto;
        margin: 0 auto;
    }
    .texto__horario {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 16px;
    }
    .imagen__feria {
        padding-top: 1%;
        padding-bottom: 1%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: auto;
        height: 12rem; 
        border-radius: 5px;
        margin: 0 auto;
    }
    
    /*.imagen__feria__pie__pagina {
        margin-top: 100%
        padding-top: 50%;
        display: flex;
        flex-direction: colum;
        width: auto;
        height: 20rem; 
        justify-content: flex-end;
    }*/
}